@import './fonts';

// fontawesome
@import './../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';

@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';

// bootstrap
@import './../node_modules/bootstrap/scss/bootstrap-reboot';
@import './../node_modules/bootstrap/scss/bootstrap-grid';
@import './../node_modules/bootstrap/scss/bootstrap-utilities';
@import './../node_modules/bootstrap/scss/bootstrap.scss';

// reset
@import './reset';

// variables
@import './variables';

// common
@import './common/index';

body {
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  color: $brand-primary;
}
